* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(at top, #141920, #0b0e13);
}

.left-arrow-button {
    width: 10vw;
    height: 10vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5vh;
    left: 8vw;
    background-color: transparent;
    border: none;
}

.left-arrow {
    width: 6vw;
}

.main-box {
    border-radius: 1px;
    box-shadow: 0px 0px 30px #0b0e13;
    width: 97%;
    height: 98%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-box {
    width: 80%;
    height: 80vh;
    top: 12vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #b6b6b6;
}

.title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 5.5vw;
}

.description-text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 5vw;
}

.button-box {
    display: flex;
    height: 25vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.decision {
    height: 10vh;
    background-color: #0b0e13;
    color: #b6b6b6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    border-radius: 3px;
}